$background-color = #323232
$navbar-height = 3.4rem
$navbar-width = 16.82rem
$top-color = #5f914a

body
  background-color $background-color
  color #c5c5c5
  font-size 1.189em

.container
  height 100%

.layout
  display flex
  flex-direction column
  min-height 100vh

.curtain
  height 0
  left 0
  position sticky
  top -($navbar-height)
  z-index 1

@media (min-width: 960px)
  .curtain
    height $navbar-height

header
  height $navbar-height
  left 0
  position relative
  width 100%
  z-index 99

  .nav
    height 100%
    border-bottom 1px solid #131313

    .container
      display flex
      flex-direction row

      div.title
        border-top 3px solid $top-color
        height 100%
        line-height 1.13em
        margin 0
        padding 0.97rem 1.981rem 0.72rem 2.811rem
        position relative
        max-width 100%
        width $navbar-width + 3rem

        a
          display flex
          align-items center

          &.title, &.title:visited
            color #ababab
            font-family sans-serif
            font-size 1.08em
            font-weight normal
            text-decoration none

          &.title:hover
            color #dcdcdc

      .content
        border-top 3px solid $top-color
        height 100%
        max-width 100%
        width 100vw - $navbar-width
        background-color $background-color

@media (min-width: 960px)
  header
    position fixed
    border-bottom 1px solid #131313

    .nav
      border 0

      .container

        div.title
          padding 0.88rem 1.981rem 0.58rem 1.381rem

.navbar
  background-color #282828
  border-bottom 1px solid #131313
  display flex
  flex-direction row
  gap 1.12rem
  left 0
  padding 0.82rem 1.89rem
  position sticky
  top 0
  transition opacity 0.4s, transform .243s ease

@media (min-width: 960px)
  .navbar
    background-color #282828
    border-right 1px solid #111111
    bottom 0
    display flex
    flex-direction column
    gap 1.12rem
    opacity 1
    left 0
    max-width 100%
    width $navbar-width
    overflow-x hidden
    overflow-y auto
    padding 0 1.981rem 3.2rem 1.381rem
    position fixed
    top 0
    transform translate(0)
    transition opacity 0.4s, transform .243s ease
    z-index 1

.page
  flex-grow 1
  flex-shrink 0
  width 100%

  .content
    padding 2.96rem 3.216rem

@media (min-width: 960px)
  .page
    padding-left 16.82rem

    .content
      padding 1.14rem 6.516rem 2.53rem 6.516rem
      min-width 640px

a
  color #878787

  &:hover
    color #dcdcdc

  &.disabled, &.disabled:hover,
  &[disabled], &[disabled]:hover
    color #444444
    pointer-events none

span
  &.number
    color #445541
    display inline-block
    font-family monospace
    margin 0 0.86rem 0 0
  &.date
    color #637588

h1
  font-size 1.6rem
  margin 1.162rem 0 0.66rem 0

h2
  font-size 1.25rem
  margin 1.162rem 0 0.42rem 0

h3
  font-size 1.01rem
  margin 1.162rem 0 0.28rem 0

h4
  font-size 0.9rem
  margin 1.162rem 0 0.28rem 0


.breadcrumbs
  margin 0 0 1.13rem 0

ul
  padding 0

  li
    list-style none
    margin 1.29rem 0
    padding 0

  h2
    display block
    font-size 1.25rem
    font-weight normal
    padding 0
    margin 0.165rem 0 0.1946rem 0

.square
  animation-name dancing-square
  animation-duration 4.1s
  animation-direction alternate-reverse
  animation-iteration-count infinite
  background-image linear-gradient(to right, #1a0045, #e64c3d)
  clip-path polygon(18% 0%, 81% 0, 100% 100%, 0% 91%)
  height 24px
  margin-right 0.812rem
  margin-top -0.21rem
  width 24px

@keyframes dancing-square
  9%
    background-image linear-gradient(to right, #f0c27b, #4b1248)
    clip-path polygon(21% 0%, 100% 33%, 74% 100%, 10% 94%)
  20%
    background-image linear-gradient(to right, #32cd05, #00d2ff)
    clip-path polygon(31% 9%, 95% 33%, 61% 90%, 32% 84%)
  51%
    background-image linear-gradient(to right, #00d2ff, #3a7bd5)
    clip-path polygon(81% 53%, 100% 39%, 44% 89%, 10% 70%)
  69%
    background-image linear-gradient(to right, #c21500, #ffc500)
    clip-path polygon(41% 94%, 98% 21%, 53% 81%, 73% 71%)
  78%
    background-image linear-gradient(to right, #5205f1, #32cd05)
    clip-path polygon(9% 34%, 78% 11%, 21% 51%, 93% 58%)
  90%
    background-image linear-gradient(to right, #ffc500, #32cd05)
    clip-path polygon(20% 12%, 97% 29%, 66% 67%, 10% 81%)
  98%
    background-image linear-gradient(to right, #926c01, #59a540)
    clip-path polygon(22% 3%, 90% 21%, 71% 98%, 13% 91%)

.logo
  display block
  margin 0.11rem 0 1.21rem

blockquote
  background #111111
  border-radius 0.18rem
  margin 0.889rem 0 0.219rem 0
  padding 0.68rem 0.821rem
  p
    margin 0
    padding 0

    &::before
      content '\201C'
    &::after
      content '\201D'

figcaption
  margin 0.21rem 0 0 0

.tags
  margin-left -0.14rem !important
  li
    display inline-block
    list-style none

  .tag
    background #192324
    border-radius 0.18rem
    color darkgray
    padding 0.21rem 0.43rem
    margin 0.52rem 0.749rem 0.52rem 0

.tags,
.description,
.screencast
  margin 0.757rem 0 1.26rem 0

.video
  cursor pointer
  margin 0.21rem 0
  width 100%

.text
  ul
    margin 1.426rem 0
  li
    margin 0.326rem 0

pre
  background #111111
  border-radius 0.18rem
  margin 0.83rem 0 0 0
  padding 0.39rem 0.53rem
  color #b5b5b5

code
  padding 0
  border none
  color #b5b5b5
