body
  background-color #242424
  color #c5c5c5
  padding 2.21rem 0 4.21rem 0

.layout
  display flex
  justify-content center

.sidebar
  display flex
  flex-direction column
  gap 0.92rem
  margin-right 1.89rem
  min-width 7.82rem

.page
  width 55rem

a
  color #878787

  &:hover
    color #dcdcdc

  &.disabled, &.disabled:hover,
  &[disabled], &[disabled]:hover
    color #444444
    pointer-events none

  &.title, &.title:visited
    color #878787
    font-family sans-serif
    font-size 1.73rem
    font-weight bold
    text-decoration none
    margin-top -0.49rem

  &.title:hover
    color #dcdcdc

span
  &.number
    color #445541
    display inline-block
    font-family monospace
    margin 0 0.86rem 0 0
  &.date
    color #637588

h1
  font-size 1.2rem
  margin 1.162rem 0 0.66rem 0

h2
  font-size 1.05rem
  margin 1.162rem 0 0.42rem 0

h3
  font-size 0.91rem
  margin 1.162rem 0 0.28rem 0

.breadcrumbs
  margin-top 0

ul
  padding 0

  li
    list-style none
    padding 0

  h2
    display block
    font-size 1rem
    padding 0
    margin 0.165rem 0 0.1946rem 0

blockquote
  background #111111
  border-radius 0.18rem
  margin 0.889rem 0 0.219rem 0
  padding 0.68rem 0.821rem
  p
    margin 0
    padding 0

    &::before
      content '\201C'
    &::after
      content '\201D'

figcaption
  margin 0.21rem 0 0 0

.tags
  margin-left -0.14rem !important
  li
    display inline-block
    list-style none

  .tag
    background #192324
    border-radius 0.18rem
    color darkgray
    padding 0.21rem 0.43rem
    margin 0.52rem 0.749rem 0.52rem 0

.tags,
.description,
.screencast
  margin 0.757rem 0 1.26rem 0

.video
  margin 0.21rem 0
  width auto
  max-width 55rem

pre
  background #111111
  border-radius 0.18rem
  margin 0.83rem 0 0 0
  padding 0.39rem 0.53rem
